<%include ../partials/header%>

<form method="POST" action="/login" style="width: 300px;">
    <fieldset>
        <legend>Login</legend>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username" required="true" id="username" style="margin: 10px;"></input><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" required="true" id="password" style="margin-left: 13px;"></input><br>
        <input type="submit"></input>
    </fieldset>
</form>

<a href="/">Home</a>

<%include ../partials/footer%>